.header {
  padding: 15px 0 8px;
  background-color: #fff;

  &__item {
    display: flex;
    align-items: center;
  }

  &__text {
    display: inline-block;
    width: 222px;
    font-size: 13px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    color: $main-color;
    padding-left: 20px;
  }

  &__tel {
    font-size: 35px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: $main-color;
    margin-right: 17px;
  }

  &__btn {
    display: inline-block;
    padding: 11px 10px;
    background-color: #ff8200;
    background-image: $btn-gradient;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    color: $btn-text-color;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }

  @media screen and (max-width: 1366px) {
    padding: 10px 0 8px;

    &__tel {
      font-size: 30px;
    }

    &__text {
      font-size: 10px;
      padding-left: 10px;
    }

    &__btn {
      display: inline-block;
      padding: 8px 9px;
      font-size: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    &__item {
      flex-direction: column;
      justify-content: space-around;
      align-items: inherit;
    }

    &__text {
      padding-left: 0;
      font-size: 8px;
      width: 90%;
      margin-top: 5px;
    }

    &__tel {
      margin-right: 0;
      font-size: 20px;
    }

    &__btn {
      text-align: center;
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 405px) {
    &__tel {
      font-size: 15px;
    }

    &__btn {
      font-size: 8px;
    }
  }
}

.header .wrapper {
  @include flex-space-between;
}
