.nav {
  background-color: $nav-bg;

  &__list {
    @include flex-content-center;
  }

  &__item {
    position: relative;
    padding: 0 58px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 1px;
      height: 16px;
      background-color: #ccc;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-family: "Proxima Nova Rg", sans-serif;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $nav-link-color;
    padding: 13px 0 10px;
    transition: 0.3s;

    &:hover {
      text-shadow: 0.5px 0 0;
    }
  }

  @media screen and (max-width: 1190px) {
    &__item {
      padding: 0 30px;
    }

    &__link {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    &__list {
      display: none;
    }
  }
}
