.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 46%;
    height: 100%;
    opacity: 0.4;
    background-color: #000;
    transform: skew(-15deg);
    z-index: 2;
  }

  @media screen and (max-width: 768px) {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 768px) {
    //bottom: 0;
    //top: auto;
    //height: auto;
    //
    //.main-slider {
    //  height: auto;
    //}
  }
}

.main-slider {
  width: 100%;
  height: 100%;
}

.slider-nav {
  display: flex;
  align-items: center;
}

.swiper-button-next {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
  margin-left: 42px;
  margin-top: 0;

  &::after {
    content: "ddd";
    width: 20px;
    height: 34px;
    background-image: url("../images/slider/arrow_rigth.png");
    background-size: contain;
    background-position: 50% 50%;
  }
}

.swiper-button-prev {
  position: relative;
  margin-right: 39px;
  margin-top: 0;
  top: 0;
  left: 0;

  &::after {
    content: "";
    width: 20px;
    height: 34px;
    background-image: url("../images/slider/arrow_left.png");
    background-size: contain;
    background-position: 50% 50%;
  }
}

.swiper-pagination {
  position: relative;
  display: flex;
}

.swiper-pagination-bullet {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-right: 12px;

  &:last-of-type {
    margin-right: 0;
  }
}

.swiper-pagination-bullet-active {
  &::after {
    position: relative;
    z-index: 1;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .swiper-button-next {
    margin-left: 28px;

    &::after {
      width: 18px;
      height: 28px;
    }
  }

  .swiper-button-prev {
    margin-right: 28px;

    &::after {
      width: 18px;
      height: 28px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    &::after {
      width: 4px;
      height: 4px;
    }
  }
}
