@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "nav";
@import "slider";
@import "info";
@import "section";

body {
  font-family: $main-fonts, sans-serif;
  background-color: $c-white;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 1142px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #040404;
  opacity: 0.48;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100% - 58px);
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    z-index: 3;
    height: 100%;
  }
}
