@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "nav";
@import "slider";
@import "info";
@import "content";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $main-fonts, sans-serif;
  background-color: $c-white;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    overflow-y: scroll;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 1142px;
  margin: 0 auto;

  @media screen and (max-width: 1190px) {
    width: 96%;
    padding: 0 10px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #040404;
  opacity: 0.48;

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 58px);
  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    z-index: 3;
  }

  @media screen and (max-width: 1366px) {
    height: calc(100vh - 48px);
  }

  @media screen and (max-width: 768px) {
    height: calc(100vh - 69px);

    background-color: rgba(0, 0, 0, 0.9);
  }

}

.num {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  padding: 0 12px;
}

.for,
.size {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1366px) {
  .num {
    font-size: 28px;
  }
}

.skew-box {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: -1;
    transform: skew(-15deg);
  }
}

.burger-menu {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    padding: 10px;
  }
}
