$c-white: #fff;
$main-fonts: "Proxima Nova Lt";
$main-color: #000;
$btn-text-color: #fff;
$btn-gradient: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
$nav-bg: rgba(0, 0, 0, 0.6);
$nav-link-color: #fff;
